body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-image: url(wallpapers.jpg);
  }

  #memory-board {
    border-radius: 20px;
    border: solid 10px  #1c4942;
    background-color: rgb(255, 255, 255);
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
  }

  .card {
    border-radius: 20px;
    width: 100px;
    height: 100px;
    background-color:  rgb(13, 126, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s;
    transform-style: preserve-3d;
  }
  
  .card img {
    max-width: 100%;
    max-height: 100%;
  }

  .card.flipped {
    transform: rotatey(180deg);
  }

  .card .back {
    transform: rotatey(-180deg);
    background-size: cover;
    position: absolute;
    backface-visibility: hidden;
  }

  #typing {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 50px;
  text-align: center;
  margin: 7% 0% 7% 0%; 
  animation: typing 6s steps(1000, end), blink-caret .75s step-end infinite;
  }

  @keyframes typing {
  from { width: 0 }
  to { width: 100% }
  }

